node_modules
.DS_Store
dist
*.local
*.whl
.remote-assets
components.d.ts
*.log
.slidev
01-prep/2025-11-03_railML_AdvancedExample_v14_railML3.2.xml
01-prep/2025-11-03_railML_AdvancedExample_v14_railML3.2_patched.xml
00-docs/
04-validate/downloads/